body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    }

header img {
    height: 36px;
    margin-right: 16px;
    } 
h1 {
    color: #333;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
    }

th {
    background-color: #f2f2f2;
}

#addDataForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    }

label {
    margin-bottom: 6px;
    color: #333;
    }

input {
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    }

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

button:hover {
    background-color: #45a049;
    }

.removeButton {
    background-color: #f44336;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

.removeButton:hover {
    background-color: #d32f2f;
    }
